/*@import "_variables.scss";*/
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../vendor/bootstrap-sass/assets/stylesheets/bootstrap";

/**
 *  Utility classes
 */
.vertical-margin {
  margin-bottom: 20px;
}

.container {
  width: 100%;
}

/**
 * Tasks
 */
.done {
  text-decoration: line-through;
}

/**
 * Timetable
 */
#timetable {
  height: 300px;
  overflow: scroll;
}

.lesson{
  background-color: #337AB7;
  color: #FFFFFF;
}

.timetable-time {
  vertical-align: middle !important;
}